VIENNAAddInUnitTests/testresources/XSDImporterTest/mapping/mapForceSourceElementTreeTests/Schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.ebinterface.at/schema/3p0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.ebinterface.at/schema/3p0/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Entry4" type="Entry4Type"/>
	<xs:complexType name="Entry4Type">
		<xs:sequence>
			<xs:element name="Entry5" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
