VIENNAAddInUnitTests/testresources/XSDImporterTest/mapping/MappingImporterTests/mapping_complex_type_with_simple_elements_all_to_single_acc/source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.ebinterface.at/schema/3p0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.ebinterface.at/schema/3p0/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Address" type="AddressType"/>
	<xs:complexType name="AddressType">
		<xs:all>
			<xs:element name="StreetName" type="xs:string"/>
			<xs:element name="CityName" type="xs:string"/>
			<xs:element name="CountryName" type="xs:string"/>
		</xs:all>
	</xs:complexType>
</xs:schema>
