VIENNAAddInUnitTests/testresources/XSDExporterTest/mapping/SubsetExporter/model_diff/source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.ebinterface.at/schema/3p0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebinterface.at/schema/3p0/" elementFormDefault="qualified" attributeFormDefault="unqualified">	

	<xs:element name="Invoice" type="InvoiceType"/>

	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Town" type="xs:string"/>
			<xs:element name="PersonName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InvoiceType">
		<xs:sequence>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
