VIENNAAddInUnitTests/testresources/XSDImporterTest/mapping/SchemaMappingTests/mapping_recursive_complex_type/source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.ebinterface.at/schema/3p0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.ebinterface.at/schema/3p0/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Person" type="PersonType"/>
	<xs:complexType name="PersonType">
		<xs:sequence>
			<xs:element name="FirstName" type="xs:string"/>
			<xs:element name="LastName" type="xs:string"/>
			<xs:element name="Children" type="PersonType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
