VIENNAAddInUnitTests/testresources/XSDImporterTest/mapping/SchemaMappingTests/mapping_recursive_complex_type/target.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<xsd:include schemaLocation="CoreDataType_1.xsd"/>
	<xsd:complexType name="PartyType">
		<xsd:sequence>
			<xsd:element name="Name" type="TextStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ChildrenParty" type="PartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Party" type="PartyType"/>
</xsd:schema>
